<head>
  <meta charset="utf-8" />
  <title>Hola mundo con Javascript - victor robles</title>
</head>

<body class="bg-light col-10 mx-auto mt-3 mb-5">
  <div class="card ">
    <div class="card-body">


      <div class="container">
        <div class="mb-5 row">
          <img src="./assets/img/ucm-logo1.jpeg" class="col-4 mb-3" alt="...">
          <h3 class="text-center fs-2">Universidad Catolica del Maule</h3>
          <h6 class="text-center fs-5">Departamento de Aseguramiento de la Calidad</h6>
        </div>
      </div>

      <div class="container">
        <h2 class="text-center">Documento del Sistema de Gestion de Calidad</h2>
        <h3 class="text-center">Registros del Sistema de Gestion de Calidad</h3>
        <h4 class="text-center">Identificacion de Registros</h4>
      </div>

      <form [formGroup]="FormularioResponsable" >

        <div class="container">
          <div class="mb-3 row">
            <div class="col-sm-6">

 
                <div class="row g-3">

                  <div class="">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-3 col-form-label">N° folio</label>
                      <div class="col-sm-8 ">
                        <!--                     <input formControlName="numero_folio" class="fs-6 border-0 form-control-lg col-12" type="text"
                          readonly> -->
                        <span class="fs-5">{{obtenerNombreFolio}}</span>
                      </div>
                    </div>
                  </div>
                  
                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-3 col-form-label">Usuario</label>
                      <div class="col-sm-8">
                        <input formControlName="rut" class="col-12 border" type="text">
                      </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-3 col-form-label">Unidad</label>
                      <div class="col-sm-8">
                        <select formControlName="fk_id_unidad" [value]="formResponsabledisable()" class="form-select form-select-sm"
                        aria-label=".form-select-sm example">
                        <option *ngFor="let item of listaUnidad" [value]="item.id_unidad | number">
                          {{item.nombre_unidad}}</option>
                      </select>
                      </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-3 col-form-label">Tipo Registro</label>
                      <div class="col-sm-8">
                        <select formControlName="fk_id_registros" class="form-select form-select-sm"
                          aria-label=".form-select-sm example">
                          <option *ngFor="let item of listatiposRegistros" [value]="item.id_registros | number">
                            {{item.nombre_registros}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-3 col-form-label">Ambito</label>
                      <div class="col-sm-8">
                        <select formControlName="fk_id_ambito_academico" class="form-select form-select-sm"
                          aria-label=".form-select-sm example">
                          <option *ngFor="let item of listaAmbitoAcademico" [value]="item.id_ambito_academico | number">
                            {{item.nombre_ambito_academico}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-3 col-form-label">Criterio</label>
                      <div class="col-sm-8">
                        <select formControlName="fk_id_criterios" class="form-select form-select-sm"
                          aria-label=".form-select-sm example">
                          <option *ngFor="let item of listaCriterio" [value]="item.id_criterios | number">
                            {{item.nombre_criterios}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                </div>
            </div>


            <div class="col-sm-6">

              <div class="row g-3">

                <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">fecha Actual</label>
                <div class="col-sm-8" *ngIf="estadoEvidencia == true">
                  <!--   <input type="text" formControlName="fecha_evidencia" class="fs-6 border-0 form-control-lg col-12" readonly> -->
                  <span class="fs-5">{{ fechaActual | date: 'shortDate' }}</span>
                </div>
                <div class="mb-3">
                  <div class="form-group row">
                    <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                      <input formControlName="correo_usuario" class="col-12 border" type="text">
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="form-group row">
                    <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Proceso</label>
                    <div class="col-sm-8">
                      <select formControlName="fk_id_procesos" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option *ngFor="let item of listaProcesos" [value]="item.id_procesos | number">
                          {{item.nombre_procesos}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="form-group row">
                    <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">N° Plan de Mejoras</label>
                    <div class="col-sm-8">
                      <input formControlName="numero_mejoras" class="col-12 " type="text">
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="form-group row">
                    <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Ambito Geografico</label>
                    <div class="col-sm-8">
                      <select formControlName="fk_id_ambito_geografico" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option *ngFor="let item of listaAmbitoGeografico" [value]="item.id_ambito_geografico | number">
                          {{item.nombre_ambito_geografico}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="form-group row">
                    <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Debilidad</label>
                    <div class="col-sm-8">
                      <select formControlName="fk_id_debilidades" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option *ngFor="let item of listaDebilidad" [value]="item.id_debilidades | number">
                          {{item.nombre_debilidades}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputUnidad" class="fw-bold col-sm-3 col-form-label">Descripcion</label>
            <div class="col-sm-9">
              <textarea formControlName="descripcion" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputUnidad" class="fw-bold col-sm-3 col-form-label">Resultado</label>
            <div class="col-sm-9">
              <textarea formControlName="resultado" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputUnidad" class="fw-bold col-sm-3 col-form-label">Almacenamiento</label>
            <div class="col-sm-9">
              <input formControlName="almacenamiento" type="text" class="form-control" id="firstName" placeholder="" value="" required>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputUnidad" class="fw-bold col-sm-3 col-form-label">Unidades y/o Personas Relacionadas a la
              evidencia</label>
            <div class="col-sm-9">
              <textarea formControlName="unidades_personas_evidencias" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputUnidad" class="fw-bold col-sm-3 col-form-label">Palabra clave</label>
            <div class="col-sm-9">
              <input formControlName="palabra_clave" type="text" class="form-control" id="firstName" placeholder="" value="" required>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputUnidad" class="fw-bold col-sm-3 col-form-label">Nombre corto evidencia</label>
            <div class="col-sm-9">
              <input formControlName="nombre_corto_evidencia" type="text" class="form-control" id="firstName" placeholder="" value="" required>
            </div>
          </div>
          <!-- INICIO NOMBRE Y CORREO DEL RESPONSABLE -->
          <div class="row">
            <div class="mb-3 col-6">
              <div class="form-group row">
                <label for="inputEmail3" class="fw-bold col-sm-6 col-form-label"> Responsable</label>
                <div class="col-sm-6" >
                  <input formControlName="fk_id_usuario_responsable" class="col-12 border" type="text">
                  
                </div>
              </div>
            </div>
            <div class="mb-3 col-6">
              <div class="form-group row">
                <label for="inputEmail3" class="fw-bold col-sm-3 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input formControlName="correo_conectado" class="col-12 border" type="text">
                
                </div>
              </div>
            </div>
          </div>
          <!-- INICIO NOMBRE Y CORREO DEL RESPONSABLE -->
          <div class="mb-3 row">
            <label for="inputUnidad" class="fw-bold col-sm-3 col-form-label">Observaciones Responsable</label>
            <div class="col-sm-9">
              <textarea formControlName="observaciones_responsable" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              <span *ngIf="campoNoEsValido('observaciones_responsable')" class="form-text text-danger">
                Nombre debe tener 3 letras</span>
            </div>
          </div>

          <div class="mb-3 row mt-4">
            <!--  <div class="col-sm-6">

            <h4 class="fw-bold mb-5">CANTIDAD ASISTENTES INTERNOS</h4>
            <form class="needs-validation" novalidate>
              <div class="row g-3">

                <div class="form-group row mb-1">
                  <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Autoridades</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="0" aria-label="First name">
                  </div>
                </div>

                <div class="form-group row mb-1">
                  <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Administrativos</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="0" aria-label="First name">
                  </div>
                </div>

                <div class="form-group row mb-1">
                  <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Docentes</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="0" aria-label="First name">
                  </div>
                </div>

                <div class="form-group row mb-1">
                  <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Estudiantes</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="0" aria-label="First name">
                  </div>
                </div>
              </div>

            </form>
          </div>


          <div class="col-sm-6">

            <h4 class="fw-bold mb-5">CANTIDAD ASISTENTES EXTERNOS</h4>
            <form class="needs-validation" novalidate>
              <div class="row g-3">
                <div class="form-group row mb-1">
                  <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Autoridades</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="0" aria-label="First name">
                  </div>
                </div>

                <div class="form-group row mb-1">
                  <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Administrativos</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="0" aria-label="First name">
                  </div>
                </div>

                <div class="form-group row mb-1">
                  <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Docentes</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="0" aria-label="First name">
                  </div>
                </div>

                <div class="form-group row mb-1">
                  <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Estudiantes</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="0" aria-label="First name">
                  </div>
                </div>
              </div>
            </form>
          </div> -->
            <div class="mb-5 mt-5 row">
              <button (click)="guardar()" class="btn btn-primary text-center col-md-3" type="submit">Aprobar Por Responsable</button>
              
              <button (click)="rechazara()" class="btn btn-danger float-end col-md-3 offset-md-6" >Rechazar Por
                Responsable</button>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>


</body>
