<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="row mt-2">
      <div class="col-12 ">
        <div class="card ">
          <div class="card-body">
            <h1 class="mb-5 fs-1">Debilidades</h1>
            <div class=" row col-9 mx-auto mb-4">
              <div class="row">

                <i class="fa-solid fa-circle-plus fs-1 text-primary col-auto cursor-pointer" mat-button (click)="openDialog()"></i>
                  
                <input class="fs-5 border-0 col border-bottom" type="text" placeholder="Buscar por Id"
                (keyup)="buscar(termino.value)" #termino oninput="this.value = this.value.toUpperCase()">

              </div>
            </div>



            

            <div class="my-custom-scrollbar border">
              <table class="table table-bordered table-hover ">
                <thead class="s bg-info ">
                  <tr class=" text-center">
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Criterio</th>
                    <th scope="col">Unidad</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody class=" text-center align-middle">
                  <tr *ngFor="let item of listaDebilidad; let i = index">
                    <th scope="row">{{item.codigo_debilidades}}</th>
                    <td>{{item.nombre_debilidades}}</td>
                    <td>{{item.nombre_criterios}}</td>
                    <td>{{item.nombre_unidad}}</td>
                    <td>{{item.estado_debilidades | boolean}}</td>
                    <td>
                      <i class="cursor-pointer text-primary fs-3 fa fa-solid fa-eye p-2" mat-button  data-bs-target="#staticBackdrop2"
                      (click)="openDialog(item)"></i>
                      <i (click)="borrarUnidades(item.id_debilidades)"
                      class="cursor-pointer text-primary fs-3 fa fa-solid text-danger fa-trash p-2"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="text-danger text-center fs-3">
                <span *ngIf="estadoBusqueda === false">Unidad no encontrada</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
