<!-- align-items-center justify-content-center vh-100 centrar div -->
<div class="container">
    <div class="row mt-4">
      <div class="col-12 ">
        <div class="card ">
          <div class="card-body">
            <h1 class="mb-5 fs-1">Evidencias</h1>
            <div class=" row col-11 mb-4">
              <div class="col-md-6 mb-2">
                <input class="fs-5 col-md-9 border-0 border-bottom" type="text" placeholder="Buscar por codigo">
              </div>
                <div class="col-auto mt-2">
                  <span class="fs-6"><strong>Filtro Por Estados: </strong> </span>
                </div>
                  <div class="col-auto mb-1">
                    <form action="/action_page.php" >
                      <select class="estado" mat-button id="cars" name="cars">
                        <option value="volvo">En Espera</option>
                        <option value="saab">Aprobada</option>
                        <option value="fiat">Rechazada</option>
                      </select>
                    </form>
                </div>
                
  
             
            </div>
            <div class="my-custom-scrollbar ">
              <table class="table table-bordered table-hover ">
                <thead class="s bg-info ">
                  <tr class=" text-center">
                    <th scope="col">Codigo</th>
                    <th scope="col">Fecha Envio</th>
                    <th scope="col">Unidad</th>
                    <th scope="col">Proceso</th>
                    <th scope="col">Registro</th>
                    <th scope="col">Ambito</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody class=" text-center align-middle">
                  <tr *ngFor="let item of listaEvidencias">
                    <th scope="row">{{item.numero_folio}}</th>
                    <td>{{item.fecha_evidencia | date: 'shortDate'}}</td>
                    <td>{{item.nombre_unidad}}</td>
                    <td>{{item.nombre_procesos}}</td>
                    <td>{{item.nombre_registros}}</td>
                    <td>{{item.nombre_ambito_academico}}</td>
                    <td *ngIf="item.estado_evidencia_responsable == 0 && item.estado_evidencia_dac == 0 && item.revisado_reponsable == false && item.revisado_dac == false " class="col-12 col-md-2"> 
                      <i class="text-dark me-2 fs-3 fa-solid fa-question"></i>
                      <i class="text-dark me-2 fs-3 fa-solid fa-question"></i>
                    </td>
  
                    <td *ngIf="item.estado_evidencia_responsable == 1 && item.estado_evidencia_dac == 0 && item.revisado_reponsable == true && item.revisado_dac == false " class="col-12 col-md-2"> 
                      <i class="text-success me-2 fs-3 fa-solid fa-user-check"></i>
                      <i class="text-dark me-2 fs-3 fa-solid fa-question"></i>
                    </td>
  
                    <td *ngIf="item.estado_evidencia_responsable == 2 && item.estado_evidencia_dac == 0 && item.revisado_reponsable == true && item.revisado_dac == false " class="col-12 col-md-2"> 
                      <i class="text-danger me-2 fs-3 fa-solid fa-user-xmark"></i>
                      <i class="text-dark me-2 fs-3 fa-solid fa-question"></i>
                    </td>
  
                    <td *ngIf="item.estado_evidencia_responsable == 1 && item.estado_evidencia_dac == 1 && item.revisado_reponsable == true && item.revisado_dac == true " class="col-12 col-md-2"> 
                      <i class="text-success me-2 fs-3 fa-solid fa-user-check"></i>
                      <i class="text-success me-2 fs-3 fa-solid fa-user-check"></i>
                    </td>
  
                    <td *ngIf="item.estado_evidencia_responsable == 1 && item.estado_evidencia_dac == 2 && item.revisado_reponsable == true && item.revisado_dac == true " class="col-12 col-md-2"> 
                      <i class="text-danger me-2 fs-3 fa-solid fa-user-xmark"></i>
                      <i class="text-danger me-2 fs-3 fa-solid fa-user-xmark"></i>
                    </td>
                    <td>
                      <i [routerLink]="['../ver-mis-evidencias', item.id_evidencias]" class="cursor-pointer text-primary fs-3 fa-solid fa-pen-to-square"></i>
                      <i (click)="borrarUnidades(item.id_evidencias)" class="cursor-pointer text-primary fs-3 fa fa-solid text-danger fa-trash p-2"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  