.gradient-custom-2 {
    /* fallback for old browsers */
    background: #1b2d54;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #1b2d54, #3c5280, #455579, #617194);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #1b2d54, #3c5280, #455579, #617194);
    }
    .btn-w-h{
        width: 90%;
        height: 45px !important;
    }
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }