.w-menu{
    width: 270px ;
    text-align: start;
}
.h-button-menu{
    height: 50px ;
}    
.hidden-sidenav{
display: none;
}
.active {
  background-color:  #1FA43B !important;
}
 
@media screen and (max-width: 800px) {
    .hidden-menu {
        visibility: hidden;
     
    }
    .hidden-sidenav{
        display: contents;
        }
  }
  @media screen and (max-width: 700px) {
    .hidden-menu {
      display: none !important;
    }
  }