<head>
  <meta charset="utf-8" />
  <title>Hola mundo con Javascript - victor robles</title>
</head>

<body class="bg-light col-10 mx-auto ">
  
  <div class="card ">
    <div class="card-body">

      <div class="container">
        <div class="row">
            
          <img src="./assets/img/ucm-logo1.jpeg" class="col-4 mb-3" alt="UCM">
            <h3 class="text-center fs-2">Universidad Catolica del Maule</h3>
          <h6 class="text-center fs-5 mb-5">Departamento de Aseguramiento de la Calidad</h6>
        </div>
      </div>

      <div class="container mb-5">
        <h2 class="text-center">Documento del Sistema de Gestion de Calidad</h2>
        <h3 class="text-center">Registros del Sistema de Gestion de Calidad</h3>
        <h4 class="text-center">Identificacion de Registros</h4>
      </div>



      <div class="container">

        
          <div class="mb-3 row">
            <div class="col-sm-6">
  
              <h4 class="fw-bold mb-3">N Folio</h4>
              
                <div class="row g-3">
  
                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-3 col-form-label">Usuario</label>
                      <div class="col-sm-8 ">
                        <input class="col-12 border-dark" formControlName="nombre_cliente" placeholder="" type="text" >
                      </div>
                    </div>
                  </div>
  
                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-3 col-form-label">Unidad</label>
                      <div class="col-sm-8">
                        <select class="border-dark border-dark form-select form-select-sm" formControlName="fk_id_unidad" aria-label=".form-select-sm example">
                          <option selected>Selecciona una opcion</option>
                          <option *ngFor="let item of listaGetUnidad" selected
                          [value]="item.id_unidad | number">{{item.nombre_unidad}}</option>
                          
                        </select>
                      </div>
                    </div>
                  </div>
  
                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-3 col-form-label">Tipo Registro</label>
                      <div class="col-sm-8">
                        <select class="border-dark border-dark form-select form-select-sm" formControlName="fk_id_registros" aria-label=".form-select-sm example">
                          <option selected>Selecciona una opcion</option>
                          <option *ngFor="let item of listaGetRegistro" selected
                          [value]="item.id_registros | number">{{item.nombre_registros}}</option>
                          
                        </select>
                      </div>
                    </div>
                  </div>
  
                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-3 col-form-label">Ambito</label>
                      <div class="col-sm-8">
                        <select class="border-dark border-dark form-select form-select-sm" formControlName="fk_id_ambito_academico" aria-label=".form-select-sm example">
                          <option selected>Selecciona una opcion</option>
                          <option *ngFor="let item of listaGetAmbitoAcademico" selected
                          [value]="item.id_ambito_academico | number">{{item.nombre_ambito_academico}}</option>
                          
                        </select>
                      </div>
                    </div>
                  </div>
  
                  
                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-3 col-form-label">Criterio</label>
                      <div class="col-sm-8">
                        <select class="border-dark border-dark form-select form-select-sm" formControlName="fk_id_criterios" aria-label=".form-select-sm example">
                          <option selected>Selecciona una opcion</option>
                          <option *ngFor="let item of listaGetCriterio" selected
                          [value]="item.id_criterios | number">{{item.nombre_criterios}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-sm-6">
  
              <h4 class="fw-bold mb-3">Fecha Actual</h4>
              <form class="needs-validation" novalidate>
                <div class="row g-3">
  
                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Email</label>
                      <div class="col-sm-8">
                          <input class="col-12 border-dark" formControlName="correo_usuario" placeholder="" type="text" >
                      </div>
                    </div>
                  </div>
  
                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Proceso</label>
                      <div class="col-sm-8">
                        <select class="border-dark form-select form-select-sm" formControlName="fk_id_procesos" aria-label=".form-select-sm example">
                          <option selected>Selecciona una opcion</option>
                          <option *ngFor="let item of listaGetProceso" selected
                          [value]="item.id_procesos | number">{{item.nombre_procesos}}</option>
                          
                        </select>
                      </div>
                    </div>
                  </div>
  
                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">N° Plan de Mejoras</label>
                      <div class="col-sm-8">
                          <input class="col-12 " type="text" >
                      </div>
                    </div>
                  </div>
  
                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Ambito Geografico</label>
                      <div class="col-sm-8">
                        <select class="border-dark form-select form-select-sm" formControlName="fk_id_ambito_geografico" aria-label=".form-select-sm example">
                          <option selected>Selecciona una opcion</option>
                          <option *ngFor="let item of listaGetAmbitoGeografico" selected
                          [value]="item.id_ambito_geografico | number">{{item.nombre_ambito_geografico}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
  
                  <div class="mb-3">
                    <div class="form-group row">
                      <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Debilidad</label>
                      <div class="col-sm-8">
                        <select class="border-dark form-select form-select-sm" formControlName="fk_id_debilidades" aria-label=".form-select-sm example">
                          <option selected>Selecciona una opcion</option>
                          <option *ngFor="let item of listaGetDebilidad" selected
                          [value]="item.id_debilidades | number">{{item.nombre_debilidades}}</option>
                          
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputUnidad" class="fw-bold col-sm-3 col-form-label">Descripcion</label>
            <div class="col-sm-9">
              <textarea formControlName="descripcion" class="border-dark form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputUnidad" class="fw-bold col-sm-3 col-form-label">Resultado</label>
            <div class="col-sm-9">
              <textarea formControlName="resultado" class="border-dark form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
  
          <div class="mb-3 row">
            <label for="inputUnidad" class="fw-bold col-sm-3 col-form-label">Almacenamiento</label>
            <div class="col-sm-9">
              <input type="text" formControlName="almacenamiento" class="border-dark form-control" id="firstName" placeholder="" value="" required>
            </div>
          </div>
  
          <div class="mb-3 row">
            <label for="inputUnidad" class="fw-bold col-sm-3 col-form-label">Unidades y/o Personas Relacionadas a la
              evidencia</label>
            <div class="col-sm-9">
              <textarea formControlName="unidadpersonasevid" class="border-dark form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
  
          <div class="mb-3 row">
            <label for="inputUnidad" class="fw-bold col-sm-3 col-form-label">Palabra clave</label>
            <div class="col-sm-9">
              <input type="text" formControlName="palabraclave" class="border-dark form-control" id="firstName" placeholder="" value="" required>
            </div>
          </div>
  
          <div class="mb-3 row">
            <label for="inputUnidad" class="fw-bold col-sm-3 col-form-label">Nombre corto evidencia</label>
            <div class="col-sm-9">
              <input type="text" formControlName="nomcortoevidencia" class="border-dark form-control" id="firstName" placeholder="" value="" required>
            </div>
          </div>
  
  
          <div class="mb-3 row mt-4">
            <div class="col-sm-6">
  
              <h4 class="fw-bold mb-3">CANTIDAD ASISTENTES INTERNOS</h4>
              <form class="needs-validation" novalidate>
                <div class="row g-3">
  
                  <div class="form-group row mb-1">
                    <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Autoridades</label>
                    <div class="col-sm-2 col-4">
                      <input type="text" class="form-control text-center" placeholder="0" aria-label="First name">
                    </div>
                  </div>
  
                  <div class="form-group row mb-1">
                    <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Administrativos</label>
                    <div class="col-sm-2 col-4 text-center">
                      <input type="text" class="form-control col-4 text-center" placeholder="0" aria-label="First name">
                    </div>
                  </div>
  
                  <div class="form-group row mb-1">
                    <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Docentes</label>
                    <div class="col-sm-2 col-4 text-center">
                      <input type="text" class="form-control col-4 text-center" placeholder="0" aria-label="First name">
                    </div>
                  </div>
  
                  <div class="form-group row mb-1">
                    <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Estudiantes</label>
                    <div class="col-sm-2 col-4 text-center">
                      <input type="text" class="form-control col-4 text-center" placeholder="0" aria-label="First name">
                    </div>
                  </div>
                </div>
  
              </form>
            </div>
  
  
            <div class="col-sm-6">
  
              <h4 class="fw-bold mb-3">CANTIDAD ASISTENTES EXTERNOS</h4>
              <form class="needs-validation" novalidate>
                <div class="row g-3">
                  <div class="form-group row mb-1">
                    <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Autoridades</label>
                    <div class="col-sm-2 col-4 text-center">
                      <input type="text" class="form-control col-4 text-center" placeholder="0" aria-label="First name">
                    </div>
                  </div>
  
                  <div class="form-group row mb-1">
                    <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Administrativos</label>
                    <div class="col-sm-2 col-4 text-center">
                      <input type="text" class="form-control col-4 text-center" placeholder="0" aria-label="First name">
                    </div>
                  </div>
  
                  <div class="form-group row mb-1">
                    <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Docentes</label>
                    <div class="col-sm-2 col-4 text-center">
                      <input type="text" class="form-control col-4 text-center" placeholder="0" aria-label="First name">
                    </div>
                  </div>
  
                  <div class="form-group row mb-1">
                    <label for="inputEmail3" class="fw-bold col-sm-4 col-form-label">Estudiantes</label>
                    <div class="col-sm-2 col-4 text-center">
                      <input type="text" class="form-control col-4 text-center" placeholder="0" aria-label="First name">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="mb-5 mt-5 row">
            <button class="btn btn-primary col-md-4 offset-md-1" type="submit">Enviar</button>
            <button class="btn btn-danger col-md-4 offset-md-1" type="submit">Cancelar</button>
          </div>
        
      </div>
    </div>
  </div>
</body>