<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>


  <div class="container">
    <div class="row mt-2">
      <div class="col-12 ">
        <div class="card ">
          <div class="card-body">
            <h1 class="mb-5 fs-1">Evidencias</h1>
            <div class=" row col-9 mx-auto mb-4">
              <div class="row">
                <input class="fs-5 border-0 col border-bottom" type="text" placeholder="Buscar por Id">
              </div>
            </div>
            

            <div class="my-custom-scrollbar ">
              <table class="table table-bordered table-hover ">
                <thead class="s bg-info ">
                  <tr class=" text-center">
                    <th scope="col">No.</th>
                    <th scope="col">Fecha Envio</th>
                    <th scope="col">Unidad</th>
                    <th scope="col">Proceso</th>
                    <th scope="col">Registro</th>
                    <th scope="col">Ambito</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tbody class=" text-center align-middle">
                  <tr *ngFor = "let item of listaEvidencias; let i = index">
                    <td>{{item.id_evidencias}}</td>
                    <td>08/99/00</td>
                    <td>{{item.nombre_unidad}}</td>
                    <td>{{item.nombre_procesos}}</td>
                    <td>{{item.nombre_registros}}</td>
                    <td>{{item.nombre_ambito_academico}}</td>
                    <td>
                    
                    <p *ngIf="item.id_estados == 1"><mat-icon class="ms-1 text-success" ><i
                      class="fa fa-solid fa-user-check w-input"></i></mat-icon>
                    </p>
                    
                    <p *ngIf="item.id_estados == 2"><mat-icon class="ms-1 text-success" ><i
                      class="fa fa-solid fa-user-check w-input"></i></mat-icon></p>

                    <p *ngIf="item.id_estados == 3"><mat-icon class="ms-1 text-danger" ><i
                      class="fa fa-solid fa-user-xmark w-input"></i></mat-icon></p>

                    </td>
                    <td>
                      <mat-icon class="icon-pointer ms-2 text-primary" [routerLink]="['../crear-evidencia']"><i class="fa fa-solid fa-eye w-input"></i>
                      </mat-icon>

                      <mat-icon class="icon-pointer ms-2"><i (click)="openDialog(item)"
                          class="fa fa-regular text-primary fa-pen-to-square w-input"></i></mat-icon>

                      <mat-icon class="icon-pointer ms-2"><i (click)="borrarEvidencia(item.id_evidencias)"
                          class="fa fa-solid text-danger fa-trash w-input"></i></mat-icon>
                          
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

